body {
    font-family: 'Roboto', sans-serif;
    font-size: 300;
}
.ancho-logo{
     width:6.5rem;
    height:2.5rem;
}
.titulo-300{
    font-weight:300;
}
.titulo-500{
    font-weight:500;
}
.color-fa{
    color: #b0b4ba;
}
